.seal
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #2b2c2c;
  padding: .5rem;
  gap: .5rem;
  overflow: hidden;
}

@media (orientation: landscape) {
  .seal {
    flex-direction: row;
  }
}

.columna { display: flex ; flex-direction: column; gap: .5rem; height: 100%; width: 100%; min-height: 0 }
.fila { display: flex; flex-direction: row; gap: .5rem}

/* botones */

.botonIcono { width: 1rem; height: 1rem; color: #d8dade; }

.boton { width: 2rem; height: 2rem; background-color: #1b1c1c; }
.boton:hover { background: #3c3c3c; }
.boton:active { transform: scale(0.95); }

.botonVariable { flex: 1 1 auto;  height: 2rem; background-color: #1b1c1c; }
.botonVariable:hover { background: #3c3c3c; }
.botonVariable:active { transform: scale(0.98); }

/**/

.shader { width: 50rem; height: 50rem; padding: 1rem; }